body {
    background: #293136;
}

#container {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 4em;
    font-family: sans-serif;
}

@media screen and (max-width: $devswitch) {
	#container {
		width: 90%;
	}
}